@media(min-width: 1024px){
    #divMensagemCalculo, #divResultadoArmazenamento {
        margin-bottom: 30px; /* +10px */
    }

    #divEntradaConsumoAutomovelPrecoCombustivelValorLucro .descricaoEntradaNumerica {
        width: 38%; /* -12% */
    }

    #divEntradaConsumoAutomovelPrecoCombustivelValorLucro .entradaNumerica {
        width: 22%; /* -8% */
    }
    
    #inputEntradaLocalOrigem, #inputEntradaLocalDestino, #textareaEntradaDescricaoLucro {
        width: 98%; /* +1% */
    }

    #inputEntradaConsumoAutomovel, #inputEntradaPrecoCombustivel, #inputEntradaValorLucro {
        width: 93%; /* +2% */
    }
    
    #divBotoes {
        display: flex;
        justify-content: center;
    }

    #divPrimeiraDuplaBotoes {
        margin-bottom: 0px; /* -20px */
    }

    #divPrimeiraDuplaBotoes, .botaoInicialDuplaBotoes {
        margin-right: 40px;
    }
}
